<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.god.parktaeim.all_about_sejong"
    android:versionName="1.0.1"
    android:versionCode="2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.DayCareCenterActivity"/>
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.DayCareCenterDetailActivity"/>
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.PostOfficeActivity"/>
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.ClubActivity" />
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.ToiletActivity" />
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.ToiletMapsActivity"/>
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.GasStationActivity"/>
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.GasStationDetailActivity"/>
        <activity android:name="com.god.parktaeim.all_about_sejong.Activity.InfoAppActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApNxvsu5Ecka9FyRXhR4rnT0mXWb1KoDU"/>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="80eae9cf411ea13714e5db313a7d4cac"/>

    </application>

</manifest>